@import "variables";


@mixin button($color: green, $size:27px){

  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  height: $size;
  width: $size;

  & > i{
    font-size: $size;
    color: $color;
  }
  & :hover{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.45);
    transition: background-color 500ms linear;
    color: #ffffff;
  }

}

@mixin input(){
  outline: none;
  border: 1px solid $dark-green;
  color: $yellow;
  border-radius: 5px;
  text-align: center;
  padding: 2px;

  width: 20%;
  min-width: 100px;
  max-width: 500px;
}
