@import "mixins";
@import "variables";

.excel__toolbar {
  background-color: $gray;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 35px;
  border-top: 1px solid $dark-green;
  border-bottom: 1px solid $dark-green ;
  display: flex;
  align-items: center;

  .button {
    @include button($orange, 22px);
    margin-left:20px ;

  }
}
